.section_baner{
    height: 400px;
    display: flex;
    align-items: center;
}

.img_baner{
    width: 1100px;
    height: 400px;

    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.img_baner img{
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}